.inputArea {
  font-size: 30px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
}

.inputArea:focus {
  outline: none;
}

.saveBtn {
  padding: 5px 15px;
  font-size: 18px;
  color: white;
  margin-top: 10px;
  background-color: blue;
}

#description {
  width: "100%";
  resize: none;
}

@media only screen and (max-width: 768px) {
}
